<div class="col-sm-6">
    <app-game-control (startEvent)="onStartEventAdded($event)"></app-game-control>
    <div class="row">
        <div class="col-sm-3">
            <app-even *ngFor="let evenElement of EvenNumberElements"[element]="evenElement"></app-even>
        </div>
        <div class="col-sm-3">
            <app-odd *ngFor="let oddElement of OddNumberElements">
                <p #contentPertgraph>
                        number is :{{oddElement}}
                </p>
            </app-odd>
        </div>
    </div>
</div>